<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
    <center>
        <form action="login/" method="post" style="background-color: black;color: white; border-radius:  100px;margin-top: 170px; width: 500px;padding-top: 10px;padding-bottom: 20px;">
            <h1>LOGIN</h1>
            <input type="submit" value="Submit" name="submit" style="border-radius: 100px;">
        </form>
    </center>
</body>
</html>